.inputbar{
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inputtaskbar{
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    border: none;
}

.inputbutton{
    word-wrap: nowrap;
    width: auto;
    border-radius: 30px;
    border: none;
    position: absolute;
    right: 4px;
    height: 95%;
    background-color: #FF5845;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .inputbar{
    width: 80%;
    
}
}