.wrapperTask{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.inputbar{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;
}

.inputtaskbar{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    border: none;
}
.inputbutton{
    word-wrap: nowrap;
    width: fit-content;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--accent-blue);
    cursor: pointer;
    color: var(--primary-tekst);
}

.selectTags{
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    border: none;
}

@media screen and (max-width: 425px) {
    .wrapperTask{
        width: 80%;
    
    }
}